Werkzeug~=0.16.1
Flask~=1.1.2
inflect~=3.0.1
nltk~=3.5
requests~=2.21.0
stanfordcorenlp~=3.9.1.1
Pyphen~=0.9.5
wordninja~=2.0.0
pandas~=1.0.3
tabulate~=0.8.7
Faker~=4.0.3
pymantic~=0.2.5
DateTime~=4.3
Jinja2~=2.11.2
six~=1.14.0
PyYAML~=5.1.2
editdistance~=0.5.3
bs4~=0.0.1
beautifulsoup4~=4.4.1
tqdm~=4.45.0
language-tool-python~=2.2.0
langid~=1.1.6
tensorflow~=1.15.0
tensorflow_hub~=0.4.0